@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TASA Explorer", sans-serif;
  background-color: #000;
  color: #fff;
}

/* Background */
.main {
  background: url("images/bg.jpeg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 7, 7, 0.816);
  direction: bottom to top;
}
/* 
.overlay1{
  bottom:100px;
  top: 0%;
  left: 0;
  width: 100%;
  background: rgba(7, 7, 7, 0.908);
} */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
  z-index: 10;
}

.logo {
  width: 150px;
}

.nav-btns select {
  background: transparent;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  margin-right: 20px;
}

.signin {
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
}

/* Hero Section */
.hero {
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: 150px;
}

.hero h1 {
  font-size: 65px;
  font-weight: 3500;
}

.hero h2 {
  margin: 20px 0;
  font-weight: normal;
}

.hero p {
  margin-bottom: 20px;
  font-size: 18px;
}

.email-form {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.email-form input {
  padding: 15px;
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 8px 8px 8px 8px;
  outline: none;
  width: 600px;
 
  background-color: transparent;
  margin-right: 10px;
}

.email-form button {
  padding: 15px 25px;
  background: red;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 8px 8px 8px 8px;
  font-family: "TASA Explorer", sans-serif;
  font-weight: 700;
  cursor: pointer;
}


/* trending */


/* body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
} */

.trending {
  padding: 24px 0;
  position: relative;
}

.trending h2 {
  margin-left: 60px;
  margin-bottom: 35px;
  font-size: 35px;
  font-family: "TaSa Explorer", sans-serif;
 
}

.row {
  position: relative;
  padding: 0 60px;
  /* arrows ke liye jagah */
}

.cards {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding: 8px 0;
  scrollbar-width: none;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  height: 350px;
  width: 200px;
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  display: block;
}

/* Netflix Hover Effect */
.card:hover {
  transform: scale(1.1);
  z-index: 10;
  /* box-shadow: 2px 2px 2px 2px #e428284d; */
  /* border-radius: 24px; */
  cursor: pointer;
}

/* Arrows */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 100px;
  border: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 40px;
  border-radius: 8px;
  z-index: 5;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}

.nav:hover {
  background: rgba(0, 0, 0, 0.8);
}

.nav.left {
  left: 0;
  /* 👈 ab sahi jagah */
}

.nav.right {
  right: 0;
}

/* Reasons section started */

.reasons {
  padding: 24px 0;
  position: relative;
  /* padding: 40px 20px; */
  text-align: center;
  font-family: "tasa explorer", sans-serif;
  /* margin: auto; */
}

/* .reasons{
  position: absolute;
  display: block;
  font-size: 35px;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-family: "tasa explorer", sans-serif;
} */

.section-title {
  margin-left: 60px;
  margin-bottom:35px;
  font-size: 35px;
  font-family: "TaSa Explorer", sans-serif;
  text-align: left;
  
}


.reason-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-left: 50px;
  margin-right:50px;
}

.reason-card {
  background: linear-gradient(145deg, #06063c, #cf131361);
  border-radius: 20px;
  padding: 20px;
  height: 300px;
  color: #fff;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;

}

.reason-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.7);
  border: 2px solig white;
  cursor: pointer;
}

.reason-card h1 {
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 600;
  font-family: "tasa explorer", sans-serif;
}

.reason-card p {
  font-size: 16px;
  font-weight: 400;
  color: #ccc;
  font-family: "tasa explorer", sans-serif;
}

.reason-card img {
  height: 100px;
  width: 100px;
  /* view-transition-class: "reasons-img"; */
  position: absolute;
  bottom: 20px;  /* distance from bottom */
  right: 20px;  
}


/* faq section  */



 .faq {
      max-width: 12000px;
      margin-left: 40px;
      margin-right:40px;
      margin-bottom: 40px;
      padding: 20px;
    }

    .faq h2 {
      font-size:35px;
      margin-bottom: 20px;
      font-family: "tasa explorer", sans-serif;
      font-weight: 900;
    }

    .faq-item {
      margin-bottom: 10px;
      border-bottom: 2px solid black;
    }

    .faq-question {
      width: 100%;
      background: #2d2d2d;
      color: white;
      text-align: left;
      font-size: 20px;
      padding: 20px;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "tasa explorer", sans-serif;
    }

    .faq-question:hover {
      background: #3c3c3c;
    }

    .faq-answer {
      max-height: 0;
      overflow: hidden;
      background: #2d2d2d;
      transition: max-height 0.4s ease, padding 0.3s ease;
      padding: 0 20px;
    }

    .faq-answer p {
      margin: 15px 0;
      font-family: "tasa explorer", sans-serif;
    }

    .faq-item .icon {
      font-size: 26px;
      transition: transform 0.3s;
    }

    .faq-item.active .icon {
      transform: rotate(45deg); /* + → × */
    }


/* Email section started  */

.email-section {
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: 50px;
}

.email-section h1 {
  font-size: 3rem;
  font-weight: bold;
}

.email-section h2 {
  margin: 20px 0;
  font-weight: normal;
}

/* .email-section p {
  margin-bottom: 20px;
  font-size: 18px; */


.email-form {
  display: flex;
  justify-content: center;
}

.email-form input {
  padding: 15px;
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 8px 8px 8px 8px;
  outline: none;
  width: 600px;
  margin-bottom: 50px;
  background-color: transparent;
  margin-right: 10px;
}

.email-form button {
  padding: 15px 25px;
  background: red;
  color: white;
  border: none;
  font-size: 20px;
   margin-bottom: 50px;
  border-radius: 8px 8px 8px 8px;
  font-family: "TASA Explorer", sans-serif;
  font-weight: 700;
  cursor: pointer;
}


/* Footer section started  */



.footer {
  background-color: #000;
  color: #757575;
  padding: 40px 20px;
  font-size: 14px;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-top {
  margin-bottom: 35px;
  font-size: 25px;
  font-family: poppins, sans-serif;
  font-weight: 400;
}

.footer-top a {
  color: #757575;
  text-decoration: underline;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
  max-width: 1000px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  font-size: 20px;
  font-family: poppins, sans-serif;
  width: 200px;
}

.footer-links ul li {
  margin-bottom: 15px;
}

.footer-links a {
  color: #d9d9d9;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}


.footer-bottom {
  margin-top: 50px;
  font-size: 22px;
  color: #757575;
  margin-left: 12px;

}